body {
  background: lightblue;
}

.toilet {
  margin: 0 auto;
  width: 480px;
}
#flush-btn {
  border-radius: 50%;
  background-color: chocolate;
  color: white;
  height: 50px;
  width: 50px;
}
#bowl, .cistern {
  display: inline-block;
  box-sizing: border-box;
}
#bowl {
  transition: background-color 2s;
  width: 400px;
  height: 400px;
  background-color: mintcream;
  border: 75px solid white;
  border-radius: 50%;
  position: relative;
}
.cistern {
  height: 400px;
  width: 100px;
  background-color: white;
  margin-left: -20px;
}
#flush-btn {
  float: right;
  margin: 20px 20px 0 0;
}

.poo {
  background-color: brown;
  border: 2px solid #850a0a;
  border-radius: 30px 65px 65px 30px;
  height: 50px;
  position: absolute;
  top: 100px;
  right: 20px;
}

@keyframes flushPee {
  0%   {background: repeating-linear-gradient(
        0deg,
        lemonchiffon,
        lemonchiffon 10px,
        mintcream 11px,
        mintcream 12px
     );
   transform: rotate(360deg);
   transition: transform .5s;
 }
  20%   {background: repeating-linear-gradient(
       20deg,
       lemonchiffon,
       lemonchiffon 8px,
       mintcream 9px,
       mintcream 11px
    );}
  40%   {background: repeating-linear-gradient(
        40deg,
        lemonchiffon,
        lemonchiffon 6px,
        mintcream 7px,
        mintcream 10px
     );}
  60%   {background: repeating-linear-gradient(
       60deg,
       lemonchiffon,
       lemonchiffon 4px,
       mintcream 5px,
       mintcream 9px
    );}
  80%   {background: repeating-linear-gradient(
        80deg,
        lemonchiffon,
        lemonchiffon 2px,
        mintcream 3px,
        mintcream 8px
     );}
  100% {background: mintcream;}
}
@keyframes flushPoop {
  0%   {background: repeating-linear-gradient(
        0deg,
        brown,
        brown 10px,
        mintcream 11px,
        mintcream 12px
     );
   transform: rotate(360deg);
   transition: transform .5s;
 }
  20%   {background: repeating-linear-gradient(
       20deg,
       brown,
       brown 8px,
       mintcream 9px,
       mintcream 11px
    );}
  40%   {background: repeating-linear-gradient(
        40deg,
        brown,
        brown 6px,
        mintcream 7px,
        mintcream 10px
     );}
  60%   {background: repeating-linear-gradient(
       60deg,
       brown,
       brown 4px,
       mintcream 5px,
       mintcream 9px
    );}
  80%   {background: repeating-linear-gradient(
        80deg,
        brown,
        brown 2px,
        mintcream 3px,
        mintcream 8px
     );}
  100% {background: mintcream;}
}

.flushPee {
  animation-name: flushPee;
  animation-duration: 4s;
  transform: rotate(360);
  transition: transform 4s;
}
.flushPoop {
  animation-name: flushPoop;
  animation-duration: 4s;
  transform: rotate(360);
  transition: transform 4s;
}
